@font-face {
  font-family: "iconfont"; /* Project id 3740920 */
  src: url('iconfont.woff2?t=1667915534651') format('woff2'),
       url('iconfont.woff?t=1667915534651') format('woff'),
       url('iconfont.ttf?t=1667915534651') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_emoji:before {
  content: "\e619";
}

.icon-add3:before {
  content: "\e664";
}

.icon-file-open:before {
  content: "\e670";
}

.icon-search5:before {
  content: "\e67d";
}

.icon-icon_img:before {
  content: "\e62c";
}

.icon-shezhi:before {
  content: "\e628";
}

.icon-close:before {
  content: "\e60a";
}

.icon-wechat:before {
  content: "\e600";
}

.icon-chat:before {
  content: "\e66a";
}

.icon-fenxiang:before {
  content: "\e633";
}

.icon-zuixiaohua:before {
  content: "\e67a";
}

.icon-pin:before {
  content: "\e75d";
}

.icon-pin-fill:before {
  content: "\e788";
}

.icon-zuidahua:before {
  content: "\e651";
}

.icon-wechat2:before {
  content: "\e61b";
}

.icon-shoucang-:before {
  content: "\e637";
}

.icon-friends_add:before {
  content: "\e6b2";
}

.icon-friend:before {
  content: "\e62b";
}

