<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuegao.wechatservermonolith.sysuser.mapper.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xuegao.wechatservermonolith.common.model.sysuser.doo.SysUser">
        <result column="id" property="id"/>
        <result column="del_flag" property="delFlag"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="updated_time" property="updatedTime"/>
        <result column="trace_id" property="traceId"/>

        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="uid" property="uid"/>
        <result column="nickname" property="nickname"/>
        <result column="gender" property="gender"/>
        <result column="avatar" property="avatar"/>
        <result column="mobile_phone" property="mobilePhone"/>
        <result column="landline_phone" property="landlinePhone"/>
        <result column="email" property="email"/>
        <result column="last_login_time" property="lastLoginTime"/>
        <result column="user_status" property="userStatus"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, created_by, created_time, updated_by, updated_time, del_flag, trace_id,
        username, `password`, uid, nickname, gender, avatar, mobile_phone, landline_phone, email, last_login_time,
        user_status
    </sql>

</mapper>